@import url('https://fonts.googleapis.com/css?family=Lato:300|family=Roboto:300|Yantramanav:100|Oswald:300,400|BenchNine|Hammersmith+One|Rajdhani|Saira+Extra+Condensed|Quicksand|Abel|Yanone+Kaffeesatz');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-family: 'Lato', sans-serif !important;
}

.background {
  background-size: cover;                     
  background-repeat: no-repeat;
  height: 100vh; 
}

.overlay {
    background-color: rgba(155, 155, 155, 0.65);
    position: absolute;
    width: 100%;
    height: 100%;
}

/*----------- Small screen size -----------*/

@media screen and (max-width: 499px) {


  .searchWrap{
    width: 100%;
    padding-top:6%;
    height: calc(100vh - 42vh);
  }

  .background {
    background-image: url('../public/party_background_mobile.jpg');
  }

  .inlineLabel {
    width: 100%;
    font-size: larger;
  }
  .searchContainer {
    width: 90%;
    margin:auto;
    position: absolute;
    margin-bottom: 2%;
  } 
  .nightsLabel{
    padding-left: 45%;
  }
  .btnWrap {
    margin-top:4%;
    width:100%;
  }
  .toolTipBox {
    right:-0.5vw;
    top:37px;
  }
  .tip-down {
    top:-18px !important;
    right:4px !important;
    transform: rotate(180deg)
  }
}

/*----------- Medium screen size -----------*/


@media screen and (min-width: 500px) and (max-width:1099px) {

  .background {
    background-image: url('../public/party_background_tablet.jpg');
  }

  .searchWrap{
    padding-top: 20%;
    width:90% !important;
  }
  .inlineLabel {
    width: 10% !important;
    padding-top: 1%;
  }
  .searchContainer {
    width:60%;
    margin-bottom: 6%;
  }
  #peopleField{
    order:0;
    width:20%;
  }
  #goingToLabel {
    order:1;
  }
  #festivalField {
    order: 2;
    width:70%;
  }
  #fromLabel {
    order:3;
  }
  #cityField {
    order: 4;
    width:60%;
  }
  #forLabel{
    order: 5;
  }
  #nightsField{
    order:6;
    width:20%;
  }
  .btnWrap {
    width:100%;
    order:7;
  }
  .toolTipBox {
    transform: rotate(180deg);
    top: 36px;
    left: -80px;
  }
  .toolTipBox .toolTipMessage {
    transform: rotate(180deg) !important;
  }
  
}


/*----------- Big screen size -----------*/

@media screen and (min-width:1100px) {

  .background {
    background-image: url('../public/party_background.jpg');
  }
  .searchWrap {
    padding-top: 12%;
    width:75% !important;
  }
  .inlineLabel{
    width: 5%;
    padding-top: 1%;
  }
  .searchContainer {
    width: 30%;
  }
  #peopleLabel{
    order:0;
  }
  #peopleField{
    order:1;
    width:10%;
  }
  #goingToLabel {
    order:2;
  }
  #festivalField {
    order: 3;
  }
  #fromLabel {
    order:4;
  }
  #cityField {
    order: 5;
  }
  #forLabel {
    order: 6
  }
  #nightsField {
    order: 7;
    width:6%;
  }
  .btnWrap {
    order:8;
    width:9%;
    margin-top:-0.5%;
  }
  .toolTipBox {
    top: -45px;
    right: -80px;
  }
  .toolTipBox.body {
    transform: rotate(180deg);
  }
}

.searchWrap {
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.searchContainer {
  position: relative;
  height: 40px;
}

.nightsLabel{
  width:60%;
  display: inline-block;
}

.searchBtn {
  background-color: #414141 !important;
  border-radius: 50%;
}

.searchBtn:hover{
  background-color: #6d6d6d !important;
}

.searchBtnIcon{
  color:white;
}

.locationIcon {
  position: absolute;
  right:0;
  bottom: 15%;
  z-index: 3;
}

#location_off {
  color: hsla(0, 23%, 41%, 0.5);
}

#location_on {
  color: #844d4d;
  animation: bounceUp 1000ms linear both;
}

#location_off:hover {
  color:rgba(128, 80, 80, 0.8);
  z-index: 2;
}

.inputError {
  color:red !important;
}

.flightDetailsError {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  color: #893333;
}


.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-down {
  bottom: -18px;
  border: 8px solid #413435;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.toolTipBox {
  position: absolute;
}

.toolTipBox .body {
  position: relative;
  width: 200px;
  background-color: #66494b;
  border-radius: 4px;
  border: 2px solid #5a4546;
  white-space: normal;
  max-height: 31px;
}

.toolTipBox .toolTipMessage {
  border-radius: 3px;
  font-family: 'Yantramanav', sans-serif !important;
  font-size: 15px;
  color: whitesmoke;
}

.locationTextField {
  font-family: 'Roboto', sans-serif !important;
}

@keyframes bounceUp {
  0% { opacity: 0;-webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { -webkit-transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { -webkit-transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { -webkit-transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { opacity: 1;-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}